/* Atkinson Hyperlegible Next*/
@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/atkinson-hyperlegible-next/atkinson-hyperlegible-next-latin-400-normal.woff2') format('woff2'),
       url('/assets/fonts/atkinson-hyperlegible-next/atkinson-hyperlegible-next-latin-400-normal.woff') format('woff');
}

@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/atkinson-hyperlegible-next/atkinson-hyperlegible-next-latin-700-normal.woff2') format('woff2'),
       url('/assets/fonts/atkinson-hyperlegible-next/atkinson-hyperlegible-next-latin-700-normal.woff') format('woff');
}

@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/assets/fonts/atkinson-hyperlegible-next/atkinson-hyperlegible-next-latin-800-normal.woff2') format('woff2'),
       url('/assets/fonts/atkinson-hyperlegible-next/atkinson-hyperlegible-next-latin-800-normal.woff') format('woff');
}

/* Bricolage Grotesque */
@font-face {
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/bricolage-grotesque/bricolage-grotesque-latin-400-normal.woff2') format('woff2'),
       url('/assets/fonts/bricolage-grotesque/bricolage-grotesque-latin-400-normal.woff') format('woff');
}

@font-face {
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/bricolage-grotesque/bricolage-grotesque-latin-700-normal.woff2') format('woff2'),
       url('/assets/fonts/bricolage-grotesque/bricolage-grotesque-latin-700-normal.woff') format('woff');
}

@font-face {
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/assets/fonts/bricolage-grotesque/bricolage-grotesque-latin-800-normal.woff2') format('woff2'),
       url('/assets/fonts/bricolage-grotesque/bricolage-grotesque-latin-800-normal.woff') format('woff');
}
