<nav>
  <div class="container">
    <div class="nav-items">
      <a href="/" class="nav-item" data-view="home"><i class="ph-bold ph-house-line nav-icon"></i></a>
      <a href="/pages/lessons.html" class="nav-item" data-view="book"><i class="ph-bold ph-book-open-text nav-icon"></i></a>
      <a href="/pages/leaderboard.html" class="nav-item" data-view="ranking"><i class="ph-bold ph-ranking nav-icon"></i></a>
      <div class="nav-item" data-view="treasure"><i class="ph-bold ph-treasure-chest nav-icon"></i></div>
      <a href="/pages/profile.html" class="nav-item" data-view="user"><i class="ph-bold ph-user nav-icon"></i></a>
      <a href="/pages/notifications.html" class="nav-item" data-view="bell"><i class="ph-bold ph-bell nav-icon"></i></a>
    </div>
  </div>
</nav>
