<!-- src/components/footer.html -->
<nav>
  <div class="container">
    <div class="nav-items">
      <a href="/" class="nav-item" data-view="home">
        <img src="../public/assets/icons/phosphor/bold/house-line.svg" alt="Home" class="nav-icon" style="width:26px;height:26px;">
      </a>
      <a href="/pages/lessons.html" class="nav-item" data-view="book">
        <img src="../public/assets/icons/phosphor/bold/book-open-text.svg" alt="Book" class="nav-icon" style="width:26px;height:26px;">
      </a>
      <a href="/pages/leaderboard.html" class="nav-item" data-view="ranking">
        <img src="../public/assets/icons/phosphor/bold/ranking.svg" alt="Ranking" class="nav-icon" style="width:26px;height:26px;">
      </a>
      <div class="nav-item" data-view="treasure">
        <img src="../public/assets/icons/phosphor/bold/treasure-chest.svg" alt="Treasure" class="nav-icon" style="width:26px;height:26px;">
      </div>
      <a href="/pages/profile.html" class="nav-item" data-view="user">
        <img src="../public/assets/icons/phosphor/bold/user.svg" alt="Profile" class="nav-icon" style="width:26px;height:26px;">
      </a>
      <a href="/pages/notifications.html" class="nav-item" data-view="bell">
        <img src="../public/assets/icons/phosphor/bold/bell.svg" alt="Notifications" class="nav-icon" style="width:26px;height:26px;">
      </a>
    </div>
  </div>
</nav>
